@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

:root{
    --primary-color:rgb(0, 132, 255);
}

*{
    box-sizing: border-box;
    outline: 0;

}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: open;
    font-family: "Maven Pro", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    box-shadow: 0 0px 350px rgb(88, 51, 255);
    border: 1px;
    border-radius: 40px;
    border-style: none ;
    max-width: 650px;
    margin: 50px auto;
    margin-top: 20vh;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
}
